
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.weather-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

.weather-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.detail {
    text-align: center;
}
